body {margin:0;text-align:left;}

body, p, td, th{font-size:12px;color:#1B1B1B;font-family:Arial;}

form, dl, dt, dd {margin:0;padding:0;}

input, select, textarea, optgroup {margin: 5px; color:#000000;font:100% Arial,sans-serif;}



/* startard elements */

img {border:0 none;}

p {line-height:1.4em;margin:0 0 15px 0;text-align:justify;}



a:link {color: #003399;text-decoration: none;}

a:visited {color: #003399;text-decoration: none;}

a:active {color: #003399;text-decoration: none;}

a:hover {color: #00496F;text-decoration: underline;}

ol, ul {list-style:none outside none;}



.clear {clear:both;}



.left {float:left;}

.right {float:right;}

.hide {display:none;}

.last {margin-bottom:0!important;margin-right:0!important;}



h1 {color:#636363;font-size:18px;font-weight:bold;margin:0 0 15px;}

h2 {color:#636363;font-size:16px;font-weight:bold;margin:0 0 15px;}



#wrapper {margin:0 auto;width:986px;text-align:left;}

#header {/*border-bottom:3px solid #40A5E6;*/position:relative;height:110px;}



/*logo*/

#logo { /* position:absolute;top:0px;left:0px;*/  }

#logo a {width:180px;height:94px;display:block;background:url(../images/yozoa-logo.png) no-repeat ;  float:left;  padding-top:10px;}

#logo div{ float:left; padding-top:50px;}

/*top-menu*/

#top-menu {list-style-image:none;list-style-position:outside;list-style-type:none;margin:0;padding:0;}

#top-menu {float:right;height:25px;background:url(../images/sp.png) no-repeat -194px -307px;}

#top-menu li{float:left;height:25px;display:inline;padding-left:15px;padding-right:14px;border-right:1px solid #d4d4d4;font-size:11px;line-height:22px;}

#top-menu li.post-ad{font-weight:bold;background:url(../images/sp.png) no-repeat 100% -547px;border-right:medium none;position:relative;}

#top-menu li.post-ad img {position:absolute;bottom:-12px;left:22px;}



/* main-menu */

#main-menu {height:38px;  position:absolute;bottom:0;/*right:0; */background:url(../images/menubg.jpg) no-repeat 0 0px;padding:0 0 0 0;  width:986px;}

#main-menu ul {margin:0;padding:0;}

#main-menu ul li.menu {  height:38px;float:left;list-style-image:none;list-style-position:outside;list-style-type:none;position:relative;position:relative;border-right:1px solid #eeeeee;}

#main-menu ul li.last {border-right:none;}



#main-menu ul li.menu a.h em { display:block;height:5px;width:5px;overflow:hidden;position:absolute;right:9px;text-indent:2000em; /* background:url(../images/bullet-down.gif); */margin-top:14px; }



#main-menu ul li.menu a.h { /* color:#373737;float:left;display:block;font-size:11px;height:29px;padding-left:14px;text-decoration:none;position:relative;background:url(../images/sp.png) no-repeat -1000px 1000px;margin-top:3px;text-transform:uppercase; */}



#main-menu ul li.menu a.h strong {  text-transform:uppercase; display:block;float:left; height:19px; padding:12px 20px;/*background:url(../images/sp.png) no-repeat -1000px 1000px;*/ }



#main-menu ul li.menu a.h span.icon {  display:none; /*float:left;width:16px;overflow:hidden;height:16px;background-color:transparent;background-image:url(../images/icons.gif);background-repeat:no-repeat;background-position:0 -144px;margin-right:6px; */}



#main-menu ul li.menu a.h span.eshop {/*color:#373737;float:left;display:block;font-size:11px;height:29px;padding-left:14px;text-decoration:none;position:relative;background:url(../images/icon_store.png) no-repeat 0 0 ;*/}



#main-menu ul li.menu a.h span.rental {/* color:#373737;float:left;display:block;font-size:11px;height:29px;padding-left:14px;text-decoration:none;position:relative;background:url(../images/icon_rent.png) no-repeat 0 0 ;*/}



#main-menu ul li.menu a.h span.product { /* background:url(../images/product_package.png) no-repeat 0 0 ; */ }



#main-menu ul li.menu a.h span.eproduct {/*background-position:0 -69px;*/}



#main-menu ul li.menu a.h span.car { /*background-position:0 -44px;*/}



#main-menu ul li.menu a.h span.realestate { /*background-position:0 -19px;*/}



#main-menu ul li.menu a.h span.shop { /* background:url(../images/icon_store.png) no-repeat 0 0 ; */}



#main-menu ul li.menu a.h span.gift {/*background-position:0 -186px;*/}





#main-menu ul li.active a.h { /* height:38px;background-position: 0 -65px;margin-top:0;*/}

#main-menu ul li.active a.h strong {height:19px; /* padding-top:13px;background-position: 100% -65px; */cursor:pointer;}

#main-menu ul li.active a.h em {margin-top:17px;}



#main-menu ul li.hover a.h {height:38px; /* background-position: 0 -65px;margin-top:0;*/ }

#main-menu ul li.hover a.h strong {/*height:19px;padding-top:13px; background-position: 100% -65px; */ cursor:pointer;}

#main-menu ul li.hover a.h em {/* margin-top:17px; */ }

#main-menu ul li.hover .dropdown {left:0;}



/*dropdown menu*/



.dropdown {position:absolute;background-color:#F9F9F9;border:1px solid #E7E7E7;top:38px;left:-1000em;z-index:1000;padding:5px 0; border-top:none;}

.dropdown .col {float:left;padding:0 10px;background:url(../images/dotted-line-vert.gif) repeat-y right 0;}

.dropdown .lastCol {background-image:none;}

.dropdown ul.cat li {padding:2px 0;}

.dropdown ul li a {font-size:11px!important;font-family:Tahoma;}

.dropdown  h4 {font-weight:bold;font-size:12px;margin:0;padding:0;padding-bottom:5px;}

.dropdown ul.cat li.hideShowCat {font-weight:bold;padding-top:8px;}

.dropdown ul.cat li.hideShowCat a {background-repeat:no-repeat;background-position:right center;padding-right:12px;}

.dropdown ul.cat li.hideShowCat a.open {background-image:url(../images/bullet-down.gif);}

.dropdown  li em {font-style:normal;color:#8b8989;font-size:10px;}





.rptProducts {float:left;text-align:center;padding:0 5px;font-size:11px;font-family:tahoma;margin-bottom:10px;margin-top:10px;}

.rptProducts .image {height:48px;}

.rptProducts .image img {border:1px solid #cccccc;}





/*search box*/

#search-box {height:39px;background:url(../images/menubg1.jpg) no-repeat 0 0px;padding-left:5px;margin-bottom:10px;}

#search-box form {margin:0;padding:0;}

#search-box input,#search-box select {margin:7px 3px !important;*margin:5px 3px !important;vertical-align:middle;}

#search-box input.key {border:1px solid #7F9DB9;outline:medium none;padding:2px;width:30%;}

#search-box select {border:1px solid #7F9DB9;outline:medium none;padding:1px;}

#search-box input.submit {white-space:nowrap;}



/*layout*/

#content {margin-bottom:20px;}

.leftSidebar {float:left;width:246px; /*background-color:#EEEDED*/}

.contentColumn {float:right;width:725px;}



/*box*/

.box {margin-bottom:1px;}

.boxHeader, .boxFooter, .boxHeader div, .boxFooter div {background:transparent url(../images/sp.png) no-repeat left top;}

.boxHeader {height:32px;overflow:hidden;padding-left:10px;background-position:0 -199px;}

.boxHeader div {height:32px;background-position:right -199px;}

.boxNoTitle {background-position:0 -236px;height:5px;}

.boxNoTitle div {background-position:100% -236px;height:5px;}

.boxHeader h3 {float:left;font-size:100%;line-height:33px;margin:0;padding:0;font-size:14px;font-weight:bold;color:#141414;}

.boxContent {border-color:#d4d4d4;border-style:solid;border-width:0 1px;}

.boxWrap {padding:20px 15px 10px 15px;display:block;}

.boxFooter {font-size:1px;height:5px;overflow:hidden;padding-left:10px;background-position:0 -231px;}

.boxFooter div {background-position:100% -231px;height:5px;}



/*boxSidebarBlue*/

.boxSidebarBlue .boxHeader {background-position:0 -97px;/*border-bottom:3px solid #40a5e6;*/}

.boxSidebarBlue .boxHeader div {background-image:none;}

.boxSidebarBlue .boxContent {border-color:#e3e3e3;}

.boxSidebarBlue .boxFooter {background-position:0 -129px;}

.boxSidebarBlue .boxFooter div {background-position:100% -129px;}



/*boxSidebarYellow*/

.boxSidebarYellow .boxHeader {background-position:-194px -275px;/*border-bottom:3px solid #ffcc01;*/}

.boxSidebarYellow .boxHeader div {background-image:none;}

.boxSidebarYellow .boxContent {border-color:#f2e4ac;}

.boxSidebarYellow .boxFooter {background-position:0 -164px;}

.boxSidebarYellow .boxFooter div {background-position:100% -164px;}





/*boxBlue*/

.boxBlue .boxHeader {background-position:0 -169px;/*border-bottom:3px solid #40a5e6;*/height:30px;}

.boxBlue .boxHeader div {background-position:100% -169px;height:30px;}

.boxBlue .boxContent {border-color:#e3e3e3;}

.boxBlue .boxFooter {background-position:0 -129px;}

.boxBlue .boxFooter div {background-position:100% -129px;}



/*boxYellow*/

.boxYellow .boxHeader {background-position:0 -134px;/*border-bottom:3px solid #ffcc01;height:30px;*/}

.boxYellow .boxHeader div {background-position:100% -134px;height:30px;}

.boxYellow .boxContent {border-color:#f2e4ac;}

.boxYellow .boxFooter {background-position:0 -164px;}

.boxYellow .boxFooter div {background-position:100% -164px;}



/*boxGray*/

.boxGray .boxHeader {background-position:0 -199px;height:32px;}

.boxGray .boxHeader div {background-position:100% -199px;height:30px;}

.boxGray .boxNoTitle {background-position:0 -236px;height:5px;}

.boxGray .boxNoTitle div {background-position:100% -236px;height:5px;}

.boxGray .boxContent {border-color:#d4d4d4;}

.boxGray .boxFooter {background-position:0 -231px;}

.boxGray .boxFooter div {background-position:100% -231px;}





/*profile image */



/*profile image*/

.profile-image .img-holder {position:relative;}

.profile-image .medium {width:60px;height:60px;}

.profile-image .small {width:44px;height:52px;}

.profile-image .tiny {width:35px;height:42px;}

.profile-image .img-holder a {position:absolute;background:transparent nono repeat 0 0;}

.profile-image .large a {top:4px;left:4px;}

.profile-image .medium a {top:2px;left:2px;}

.profile-image .small a {top:2px;left:2px;}

.profile-image .tiny a {top:2px;left:2px;}

.profile-image .tiny img {width:30px;}

.profile-image .small img {width:40px;}

.profile-image .medium img {width:60px;}

.profile-image .large img {width:120px;height:120px;}

.profile-image .img-holder span {position:absolute;top:0;left:0;background:transparent none no-repeat 0 0;}

.profile-image .tiny span {height:41px;width:35px;}

.profile-image .small span {width:44px;height:52px;}

.profile-image .medium span {width:64px;height:75px;}

.profile-image .large span {width:130px;height:145px;}

.profile-image .large span.business-member {background-image:url(../images/business-member-large.png);}

.profile-image .large span.support-member {background-image:url(../images/support-member-large.png);}

.profile-image .large span.free-member {background-image:url(../images/free-member-large.png);}

.profile-image .medium span.free-member {background-image:url(../images/free-member-medium.png);}

.profile-image .small span.free-member {background-image:url(../images/free-member-small.png);}

.profile-image .medium span.support-member {background-image:url(../images/support-member-medium.png);}

.profile-image .small span.support-member {background-image:url(../images/support-member-small.png);}

.profile-image .medium span.business-member {background-image:url(../images/business-member-medium.png);}

.profile-image .small span.business-member {background-image:url(../images/business-member-small.png);}

.profile-image .small span.support-member {background-image:url(../images/support-member-small.png);}

.profile-image .small span.free-member {background-image:url(../images/free-member-small.png);}

.profile-image .tiny span.business-member {background-image:url(../images/business-member-tiny.png);}

.profile-image .tiny span.support-member {background-image:url(../images/support-member-tiny.png);}

.profile-image .tiny span.free-member {background-image:url(../images/free-member-tiny.png);}





/*buttons*/

span.button { }

span.ask_button{display:block; margin-left: 85px;}

span.button a {height:32px;display:block;float:left;background:green url(../images/sp.png) no-repeat 100% -274px;color:#fff;font-weight:bold;font-size:14px;padding-right:10px;}

span.button a span {height:32px;display:block;float:left;background:url(../images/sp.png) no-repeat 0 -274px;cursor:pointer;padding:0 10px 0 20px;line-height:31px;}



/*button blue*/

span.button a.blue {background-position:100% -274px;}

span.button a.blue span {background-position:0 -274px;}



/*button gray*/

span.button a.gray {background-position:100% -307px;}

span.button a.gray span {background-position:0 -307px;}



/*button graySmall*/

span.button a.graySmall {height:22px;background-position:100% -340px;font-size:12px;}

span.button a.graySmall span {height:22px;background-position:0 -340px;line-height:21px;}



/*button blueSmall*/

span.button a.blueSmall {height:22px;background-position:100% -363px;font-size:12px;}

span.button a.blueSmall span {height:22px;background-position:0 -363px;line-height:21px;}



/*button yellow*/

span.button a.yellow {height:27px;background-position:100% -593px;font-size:12px;color:#000;font-size:14px;}

span.button a.yellow span {height:27px;background-position:0 -593px;line-height:27px;}





/*bread-crumb*/

.bread-crumb {background:url(../images/sp.png) no-repeat 0 -517px;margin-bottom:10px;height:30px;padding-left:10px;}

.bread-crumb a {background:url(../images/sp.png) no-repeat 100% -486px;height:30px;float:left;display:block;line-height:30px;padding:0 15px 0 20px;margin-left:-10px;position:relative;}

.bread-crumb a.home {background-position:0 -486px;padding:0;width:40px;position:relative;margin-left:-10px;}

.bread-crumb span {height:30px;float:left;display:block;line-height:30px;padding:0 15px 0 10px;}



/*tabs*/

.tabs {border-bottom:3px solid #ffda75;margin-bottom:5px;padding-left:8px;}

.tabs ul {height:32px;list-style-type:none;margin:0;padding:0;}

.tabs ul li {float:left;margin-left:2px;}

.tabs ul li a {height:32px;line-height:31px;float:left;display:block;font-size:13px;background:url(../images/sp.png) no-repeat 100% -451px;padding-right:10px;color:#535353;}

.tabs ul li a span {background:url(../images/sp.png) no-repeat 0 -451px;height:32px;float:left;display:block;padding-left:10px;cursor:pointer;}

.tabs ul li a.active {font-weight:bold;background-position:100% -418px;}

.tabs ul li a.active span {background-position:0 -418px;}



/*steps-div*/

.steps-area {height:32px;background:url(../images/sp.png) no-repeat 0 -241px;margin-bottom:16px;color:#707070;font-weight:bold;font-size:13px;}

.steps-area ul {margin:0;padding:0;}

.steps-area ul li {float:left;padding-left:8px;height:32px;}

.steps-area ul li.current, .steps-area ul li.checked {background-color:#d2edb2;}

.steps-area ul li.first {background:url(../images/sp.png) no-repeat -327px -97px;}

.steps-area ul li strong {height:32px;color:#707070;display:block;float:left;line-height:30px;}

.steps-area ul li.current strong, .steps-area ul li.checked strong {color:#4d4d4d;}

.steps-area ul li span, .steps-area ul li strong {float:left;display:block;}

.steps-area ul li span.number {width:20px;height:19px;overflow:hidden;text-align:center;background:url(../images/sp.png) no-repeat -285px -97px;color:#fff;float:left;display:block;margin-right:4px;margin-top:6px;line-height:18px;}

.steps-area ul li.current span.number, .steps-area ul li.checked span.number {background-position:-306px -97px;}

.steps-area ul li span.right-c {display:block;height:32px;background:url(../images/sp.png) no-repeat -246px -97px;width:34px;}

.steps-area ul li.current span.right-c {background-position:-477px -97px;}

.steps-area ul li.checked span.right-c {background-position:-516px -97px;}



/*step1*/

#categorydiv {padding:20px 15px;display:block;}

#category_box_div {width:940px;height:240px;overflow-x:auto;}



/*step2*/

.add-detail {}

.add-detail .row {clear:both;padding:8px;}

.add-detail .selectedCat .path {color:#61A214;font-weight:bold;float:left;margin-top:3px;}

.add-detail .selectedCat .path em {color:#c0c0c0;font-style:normal;}

.add-detail .selectedCat .button .graySmall {margin-left:10px;}

.add-detail .desc {color:#999999;}

.add-detail .label {color:#000;font-weight:bold;float:left;width:200px;text-align:right;padding-right:30px;}

.add-detail .field {margin-left:230px;}



.add-detail .clabel {color:#000;font-weight:bold;float:left;width:120px;text-align:right;padding-right:30px;}

.add-detail .cfield {margin-left:150px;}

.add-detail .crow {float:left;padding:8px;}

.add-detail .detail {margin-bottom:15px;}

.add-detail .detail .detail-header {font-size:12px;font-weight:bold;color:maroon;margin:0 0 8px;padding-bottom:8px;border-bottom:1px solid #e3e3e3;}

.add-detail .detail div.d {float:left;display:block;width:20%;height:17px;padding:3px 0;}



.add-image {}

.add-image .image {float:left;width:102px;}

.add-image .upload-image {float:left;}



.narrow .label {color:#000;font-weight:bold;float:left;width:100px;text-align:right;padding-right:30px;}

.narrow .field {margin-left:130px;}



.actions {padding-left:350px;margin-top:-10px;margin-bottom:10px;}

.actions .button .blue {margin-left:10px;}



/* product detail */

.info-container {width:722px;float:left;}



.product-view {}

.product-view .product-images {float:left;margin-right:40px;width:310px;}

.product-view .product-images .large-pic {margin-bottom:15px;}

.product-view .product-images .thumbs {}

.product-view .product-images .thumbs .thumb-pic{float:left;margin:0 5px 4px 1px;}

.product-view .product-images .thumbs .thumb-pic img {width:70px;}



.detail {margin-bottom:15px;}

.detail .detail-header {font-size:12px;font-weight:bold;color:maroon;margin:0 0 8px;padding-bottom:8px;border-bottom:1px solid #e3e3e3;}

.detail div.d {float:left;display:block;width:25%;min-height:17px;padding:3px 0;}

.detail div.d strong {padding-left:15px;font-weight:bold;color:silver;}

.detail div.d strong.highlight {background:url(../images/sp.png) no-repeat -976px -98px;color:#141414;}



.product-view .product-details {float:left;width:340px;}

.product-view .product-details ul.details, .cars-details .product-details ul.details {margin:0;padding:0;margin-bottom:20px;}

.product-view .product-details ul.details li, .cars-details .product-details ul.details li {padding:0 0 7px 0;margin:0 0 6px 0;background:url(../images/dotted-line-horiz.gif) repeat-x 0 100%;}

.product-view .product-details ul.details li.price, .cars-details .product-details ul.details li.price {color:#ff6803;font-size:22px;font-weight:bold;}

/*.product-view .product-details ul.details li span, .cars-details .product-details ul.details li span {color:#000;font-size:12px;font-weight:bold;width:180px;display:block;float:left; padding-right: 10px;}*/
.product-view .product-details ul.details li span, .cars-details .product-details ul.details li span {color:#000;font-size:12px;font-weight:bold;width:170px;display:block;float:left; padding-bottom: 5px;}

.job-info .product-details ul.details li span{color:#000;font-size:12px;font-weight:bold;height:20px;width:125px; !important;display:block;float:left; padding-right: 10px;}



/*share buttons*/

.product-view .buttons, .cars-details .buttons {height:27px;margin-bottom:20px;}

.product-view .buttons ul.share, .cars-details .buttons ul.share {margin:0;padding:0;height:15px;float:right;margin-top:2px;}

.product-view .buttons ul.share li, .cars-details .buttons ul.share li {float:left;margin-left:4px;}

.product-view .buttons ul.share li a, .cars-details .buttons ul.share li a {width:20px;height:20px;float:left;display:block;background-image:url(../images/sp.png);background-repeat:0 0;}

.product-view .buttons ul.share li a span, .cars-details .buttons ul.share li a span {display:none;}

.product-view .buttons ul.share li a.email, .cars-details .buttons ul.share li a.email {background-position:-355px -418px;}

.product-view .buttons ul.share li a.biznetwork, .cars-details .buttons ul.share li a.biznetwork {background-position:-289px -418px;}

.product-view .buttons ul.share li a.facebook, .cars-details .buttons ul.share li a.facebook {background-position:-311px -418px;}

.product-view .buttons ul.share li a.twitter, .cars-details .buttons ul.share li a.twitter {background-position:-333px -418px;}

.product-view .buttons ul.share li a.print, .cars-details .buttons ul.share li a.print {width:20px;height:20px;float:left;display:block;background-image:url(../images/print.jpg);background-repeat:0 0;}



/*div counter*/

.div_counter {text-align:center;color:#ffbf00;margin-top:5px;font-size:11px;}





/*user information*/

.user-information {float:right;width:246px;}

.user-information .user-profile {margin-bottom:10px;/*height:76px;*/}

.user-information .image{width:74px;height:75px;float:left;}

.user-information .info {/*margin-left:74px;*/}

.user-information .info span {display:block;padding:0 0 5px 0; 0;margin:0 0 4px 0;background:url(../images/dotted-line-horiz.gif) repeat-x 0 100%;}

.user-information .contact-tools {margin:0 0 10px 0;padding:0;}

.user-information .contact-tools li {padding:0 0 5px 0; 0;margin:0 0 4px 0;background:url(../images/dotted-line-horiz.gif) repeat-x 0 100%;}



/*user information*/

.user-information-new {float:left;width:246px;}

.user-information-new .user-profile {margin-bottom:10px;/*height:76px;*/}

.user-information-new .image{width:74px;height:75px;float:left;}

.user-information-new .info {/*margin-left:74px;*/}

.user-information-new .info span {display:block;padding:0 0 5px 0; 0;margin:0 0 4px 0;background:url(../images/dotted-line-horiz.gif) repeat-x 0 100%;}

.user-information-new .contact-tools {margin:0 0 10px 0;padding:0;}

.user-information-new .contact-tools li {padding:0 0 5px 0; 0;margin:0 0 4px 0;background:url(../images/dotted-line-horiz.gif) repeat-x 0 100%;}



.user-information-last {float:right;width:730px;}

.profiles .user-information-last {float:right;width: 100% !important;}

.user-information-last .user-profile {margin-bottom:10px;height:76px;}

.user-information-last .image{width:74px;height:75px;float:left;}

.user-information-last .info {margin-left:74px;}

.user-information-last .info span {display:block;padding:0 0 5px 0; 0;margin:0 0 4px 0;background:url(../images/dotted-line-horiz.gif) repeat-x 0 100%;}

.user-information-last .contact-tools {margin:0 0 10px 0;padding:0;}

.user-information-last .contact-tools li {padding:0 0 5px 0; 0;margin:0 0 4px 0;background:url(../images/dotted-line-horiz.gif) repeat-x 0 100%;}



/*list-view*/

.table-list-view {width:100%;margin-bottom:18px;}

.table-list-view .list-title td {background:none repeat scroll 0 0 #efefef;border-bottom:1px dotted silver;border-top:1px solid white;font-weight:bold;padding:4px;text-align:center;}

.table-list-view .list-title-new td {background:none repeat scroll 0 0 #efefef;border-bottom:1px dotted silver;border-top:1px solid white;padding:4px;}

.table-list-view .odd {background-color:#f5f5f5;}

.table-list-view td.price {color:#FF6803;font-weight:bold;}

.table-list-view .odd td,.table-list-view .even td, .table-list-view .featured td{padding:10px 0;}

.table-list-view .featured {border-top:1px solid #FAAC58;border-bottom:1px solid #FAAC58;background-color:#D0F5A9;}

.table-list-view .featured_top_wrap td {border-bottom:1px solid #FAAC58;line-height:1px;}

.table-list-view .featured_bottom_wrap td {border-top:1px solid #FAAC58;line-height:1px;}







/*gallery-view*/

.div-gallery-view {margin-bottom:18px;}

.div-gallery-view .row {}

.div-gallery-view .item {width:338px;float:left;}

.div-gallery-view .item .wrap {padding:10px 6px;margin:10px;margin-left:0;border:1px solid transparent;}

.div-gallery-view .featured .wrap {border:1px solid #9BC277;background:#E6FBD3;}



.div-gallery-view .item .image {float:left;width:155px;}

.div-gallery-view .item .info {width:158px;float:left; margin-left: 0px !important;}

.div-gallery-view .item h3 {font-size:12px;font-weight:normal;margin:0 0 10px 0;}

.div-gallery-view .item p.price {font-size:14px;font-weight:bold;margin:0 0 10px 0;color:#FF6803;}

.div-gallery-view .item ul {margin:0;padding:0;}

.div-gallery-view .item ul li {font-size:11px;color:#333;}



/*page-nav*/

.pagenav {height:36px;font-size:11px;border:1px solid #e3e3e3;-moz-border-radius:5px;margin:0 8px;}

.pagenav .typing {float:right;padding-top:3px;}

.pagenav input {font-family:verdana;font-size:10px;}

.pagenav .pagenavWrap {padding:6px 10px;}

.pagenav a {border:1px solid #e5ce6e;color:#203558 !important;line-height:2.2em;color:#666666;padding:2px 4px;text-decoration:none !important;-moz-border-radius:3px;-webkit-border-radius:3px;}

.pagenav a:hover {background-color:#fff3c0;}

.pagenav span.current {border:1px solid #e5ce6e;color:#203558 !important;background-color:#fbe58a;line-height:2.2em;color:#000;padding:2px 4px;text-decoration:none !important;-moz-border-radius:3px;-webkit-border-radius:3px;}

.pagenav em {font-style:normal;}



/*hr*/

.box div.hr {margin:0 10px;}

div.hr {height: 1px;overflow:hidden;background: #fff url(../images/dotted-line-horiz.gif) repeat-x scroll center;}

div.hr hr {display: none;}



/*products*/

.five-col-one {clear:both;padding:10px 0 8px 5px;margin-bottom:0px;position:relative;}

.five-col-one .item {display:inline;float:left;margin:0;padding-bottom:0px;width:141px;text-align: center;}

.five-col-one .item .image {height:95px;}

.five-col-one .item .image img{border:1px solid #dfdfdf;}

.five-col-one .item .content {padding-bottom:0px; padding-left:8px;width:128px;}

.five-col-one .item h3 {margin:8px 0 10px;font-weight:normal;font-size:12px;}

.five-col-one .item p.price {color:#FF6803;font-weight:bold;font-size:12px;margin:0;}

.five-col-one .item .content .purchase {position:absolute;bottom:6px;width:120px;}



.similar-products {clear:both;padding:15px 0 8px 0px;margin-bottom:5px;position:relative;}

.similar-products .item {display:inline;float:left;margin:0;padding-bottom:0;min-height:190px;*height:190px;text-align:center;width:163px;background:url(../images/dotted-line-vert.gif) repeat-y 100% 0;}

.similar-products .last-item {background-image:none;}

.similar-products .item .image {height:140px;}

.similar-products .item .image img{border:1px solid #dfdfdf;}

.similar-products .item .content {padding:0 10px;}

.similar-products .item h3 {margin:8px 0 10px;font-weight:normal;font-size:12px;}

.similar-products .item p.price {color:#FF6803;font-weight:bold;font-size:12px;margin:0;text-align:center;}

/*.similar-products .item .content .purchase {position:absolute;bottom:8px;padding-left:10px;}*/





.four-col-one {clear:both;padding:15px 0 8px 0px;margin-bottom:5px;position:relative;}

.four-col-one .item {display:inline;float:left;margin:0;padding-bottom:0;min-height:70px;*height:190px;text-align:center;width:180px;background:url(../images/dotted-line-vert.gif) repeat-y 100% 0;}

.four-col-one .last-item {background-image:none;}

.four-col-one .item .image {height:80px;}

.four-col-one .item .image img{border:1px solid #dfdfdf;}

.four-col-one .item .content {padding:0 10px;}

.four-col-one .item h3 {margin:2px 0 6px;font-weight:normal;font-size:12px;}

.four-col-one .item p.price {color:#FF6803;font-weight:bold;font-size:12px;margin:1;text-align:center;}





/*category*/

.cats {margin:0px;padding:10px 0 10px 0px;}

.cats  li {padding:0px; margin:0px;}

.cats  li input {padding:0px; margin:3px;}

.cats  li.title {font-weight:bold;font-size:12px;padding-bottom:5px;}

.cats  li.title em {font-size:12px;}

.cats li.hideShowCat {font-weight:bold;padding-top:8px;}

.cats li.hideShowCat a {background-repeat:no-repeat;background-position:right center;padding-right:12px;}

.cats li.hideShowCat a.open {background-image:url(../images/bullet-down.gif);}

.cats  li.title a {color:#000;}

.cats  li em {font-style:normal;color:#8b8989;font-size:11px;}



.cats  li.icon {background-image:url(../images/icons.gif);background-repeat:no-repeat; padding: 4px 0px 4px 22px; background-color:#FFF !important; }

.cats  li.icon1 {background-position:0 -96px;}

.cats  li.icon2 {background-position:0 -122px;}

.cats  li.icon3 {background-position:0 -236px;}

.cats  li.icon4 {background-position:0 -271px;}



.cats  li.icon5 {background-position:0 -208px;}

.cats  li.icon6 {background-position:0 -15px;}

.cats  li.icon7 {background-position:0 -41px;}

.cats  li.icon8 {background-position:0 -64px;}

.cats  li.icon9 {background-position:0 -182px;}

.cats  li.icon11 {background-position:0 -340px;}

.cats  li.icon12 {background:url(../images/product_package.png) no-repeat 0 0 ;}

.cats  li.icon13 {background:url(../images/job_package.png) no-repeat 0 0 ;}

.cats  li.icon10 {background-position:0 -300px;}

.cats  li.urgent {background:url(../images/icons/urgent.gif) no-repeat 0 0 ;}

.cats  li.sale {background:url(../images/icons/sale.gif) no-repeat 0 0 ;}

.cats  li.paid {background:url(../images/icons/paid.gif) no-repeat 0 0 ;}

.cats  li.recent {background:url(../images/icons/recent.png) no-repeat 0 0 ;}

.cats  li.buy_online {background-position:0 -69px;}



.filter-cats {padding-top:8px;}

.filter-cats h4 {font-size:14px;margin:0 0 0 8px;}

.filter-cats li.f {padding:0 0 0 5px;margin-bottom:4px;}

.filter-cats li.f a {background:url(../images/sp.png) no-repeat -976px -112px;padding:0 0 0 16px;}

.filter-cats li.f a:hover {background-position:-976px -98px;}





/*search view*/

.searchView {height:25px;padding-top:5px;font-size:11px;color:#535353;}



#search-view {float:right;}

#search-view ul {margin:0;padding:0;}

#search-view ul li {float:left;width:16px;height:16px;display:block;margin-right:4px;}

#search-view ul li.lbl {font-size:11px;line-height:14px;margin-right:20px;}

#search-view ul li a {width:16px;height:16px;display:block;float:left;background-color:red;background-image:url(../images/sp.png);background-repeat:no-repeat;background-position:0 0;}

#search-view ul li a span {display:none;}

#search-view ul li.gallery a {background-position:-241px -437px;}

#search-view ul li.gallery a:hover, #search-view ul li.gallery a.active{background-position:-241px -418px;}

#search-view ul li.list a {background-position:-260px -437px;}

#search-view ul li.list a:hover, #search-view ul li.list a.active {background-position:-260px -418px;}



/*table blue*/

table.blue {width:100%;background-color:#bad9ed;border-spacing:1px;font-family:Arial;margin-bottom:20px;}

table.blue thead th {background-color:#d0e7f5;padding:10px 3px;font-family:Arial;font-weight:bold;font-size:12px;border-top:1px solid #9ed1f2;color:#23292d;text-align:center;}

table.blue tfoot td {background-color:#d0e7f5;padding:3px;font-family:Arial;font-weight:normal;font-size:12px;border-bottom:1px solid #9ed1f2;color:#23292d;text-align:center;}

table.blue td {background-color:#FFFAF5;padding:4px 3px;font-family:Arial;font-size:12px;color:#23292d;}



/* rounded table yellow */

div.table-rounded-yellow-top, div.table-rounded-yellow-top div, div.table-rounded-yellow-bottom, div.table-rounded-yellow-bottom div {background-image:url(../images/sp.png);background-repeat:no-repeat;height:6px;display:block;overflow:hidden;}

div.table-rounded-yellow-top {background-position:0 -580px;padding-left:6px;}

div.table-rounded-yellow-top div {background-position:100% -580px;}

div.table-rounded-yellow-bottom {background-position:0 -586px;padding-left:6px;}

div.table-rounded-yellow-bottom div {background-position:100% -586px;}

table.table-rounded-yellow {width:100%;border-spacing:0px;font-family:Arial;border-left:1px solid #f3db78;border-right:1px solid #f3db78;}

table.table-rounded-yellow thead th {background-color:#ffeeaa;padding:4px 3px 10px 3px;font-family:Arial;font-weight:bold;font-size:12px;color:#807136;text-align:center;border-style:none solid solid;border-width:0 1px 1px 0;border-color:#f3db78;}

table.table-rounded-yellow thead th.last-col {border-width:0 0 1px 0;}

table.table-rounded-yellow td {background-color:#fff;padding:4px 3px;font-family:Arial;font-size:12px;color:#404040;border-bottom:1px solid #f4de84;border-right:1px solid #f4de84;}

table.yellow {text-align: center;font-family:Arial;font-weight: normal;font-size: 12px;color: #404040;width: 100%;background-color: #fafafa;border: 1px #C2D3E5 solid;border-collapse: collapse;border-spacing: 1px;}

table.yellow td {background-color:white;border-bottom:1px dashed #CEDCEA;color:#404040;font-family:Arial;font-size:12px;font-weight:normal;padding:3px;text-align:left;vertical-align:top;}



#footer { margin-bottom:10px;padding:5px 0;color:#666666;font-size:11px;line-height:24px;font-size:11px; }

#footer .ftr-right {float:right;text-align:right;}

div#footer ul {margin:0px 0px 10px 0px ; padding:5px 0px 5px 0px;  background-color:#FAFAFA;  width:984px; height:140px;  border:1px solid #E7E7E7;}

div#footer ul li {display:block;float:left;border-right:1px solid #E7E7E7; padding:0; margin:10px 0px 10px 0px; height:120px;  width:150px;}

div#footer ul.ftr-left li { } 

div#footer ul.ftr-left li a {color:#7E7A65;display:block;float:left;font-size:12px;font-weight:bold;line-height:18px;padding:0 10px;}

div#footer ul.ftr-left a.sub {clear:left;color:#003399;display:block;float:left;font-size:11px;font-weight:normal;line-height:20px;}

.ftr-right {color:#555555;float:right;font-size:11px;width:350px;}



/* message boxes */



#messages .info,#messages .success,#messages .warning,#messages .error,#messages .validation {

    border: 1px solid;

    margin: 10px 10px;

    padding:15px 10px 15px 50px;

    background-repeat: no-repeat;

    background-position: 10px center;

}

#messages .info {

  /*behavior: url(css/iepngfix.htc);*/

    color: #00529B;

    background-color: #BDE5F8;

    background-image: url('../images/info.png');

}

#messages .success {

  /*behavior: url(css/iepngfix.htc);*/

    color: #4F8A10;

    background-color: #DFF2BF;

    background-image:url('../images/success.png');

}

#messages .warning {

  /*behavior: url(css/iepngfix.htc);*/

    color: #9F6000;

    background-color: #FEEFB3;

    background-image: url('../images/warning.png');

}

#messages .error {

  /*behavior: url(css/iepngfix.htc);*/

    color: #D8000C;

    background-color: #FFBABA;

    background-image: url('../images/error.png');

}



.form_error {

  font-size: 11px;

  color: red;

}







.list ul li {padding:2px; color:#;}

.list ul li a{font-size:11px;}





#top-menu li{position:relative;}

#top-menu li.hover .userDropDown {left:4px;}

.userDropDown {width:140px;z-index:10000;position:absolute;border:1px solid #d4d4d4;background:#f9f9f9;padding:4px 8px;left:-1000em;top:24px;-moz-border-radius-bottomright:4px;-moz-border-radius-bottomleft:4px;-webkit-border-bottom-right-radius:4px;-webkit-border-bottom-left-radius:4px;}

.userDropDown a {display: block;}









table.fontSize20 td, table.fontSize20 thead th {font-size:20px}

table.fontSize18 td, table.fontSize18 thead th {font-size:18px}

table.fontSize16 td, table.fontSize16 thead th {font-size:16px}

table.fontSize14 td, table.fontSize14 thead th {font-size:14px}

table.fontSize12 td, table.fontSize12 thead th {font-size:12px}

table.fontSize11 td, table.fontSize11 thead th {font-size:11px}



.storeType { color:gray; font-size:11px; position:absolute; top:0px; right:5px; font-weight:bold;}





/*scrollPane buttons*/

.scrollPane {position:relative;}

.scrollPane .next-button, .scrollPane .prev-button {position:absolute;top:95px;z-index:200;}

.scrollPane .prev-button {left:0;}

.scrollPane .next-button {right:0;}

.scrollPane .next-button a, .scrollPane .prev-button a {width:19px;height:26px;background:url(../images/sp.png) no-repeat 0 0;display:block;float:left;}

.scrollPane .prev-button a {background-position:-194px -332px;}

.scrollPane .next-button a {background-position:-213px -332px;}

.scrollPane .prev-button a:hover {background-position:-194px -358px;}

.scrollPane .next-button a:hover {background-position:-213px -358px;}



/* table*/

.add-detail th {

        text-align: right;

        padding-right: 10px;

}

.aright {

    margin-left: 5px;

}



.search_icon {

    background:url("/images/search_view.gif") repeat scroll 0 0 transparent;

    display:block;

    font-size:0;

    height:14px;

    left:5px;

    overflow:hidden;

    position:absolute;

    top:5px;

    width:14px;

}

.SearchView {

margin: 0;

padding-bottom: 10px;

float: right;

font-family:Georgia,sans-serif;

font-size:1.5em;

position:relative;

width:420px;

}

.SearchView .selected .list {

background-position:14px 0;

}

.SearchView .map {

background-position:0 14px;

}

.SearchView li {

float:right;

margin:2px 2px 2px 10px;

padding:2px 10px 2px 24px;

position:relative;

}

.SearchView .selected {

background-color:#F5EFE7;

color:#A26D57;

}

.head {

height:1%;

overflow:hidden;

padding-bottom:10px;

}



.job-brief-heading{

background: none repeat scroll 0 0 #FFFFFF;

margin: 0 -8px;

padding: 2px 8px;

}

.heading-brief-title {

background: none repeat scroll 0 0 #EEEEEE;

font-size: 12px;

font-weight: bold;

margin: 0 0 6px;

padding: 2px;

}

#browseCategories input[type="submit"]{

margin:3px 0 3px 28px;

}



.add-button{ background-color:#FFFFFF; border:1px solid #003300 !important; color:#003300; font-weight:bold; height: 25px; font-size: 18px;}



.job-information .boxWrap{ padding: 5px 10px !important;}

.job-information .boxWrap ul li span{ margin-right:10px !important; font-weight: bold; width:75px; display:block; float:left;}

.job-information .boxWrap ul li span.button{ width: auto !important;}

.job-information .boxWrap ul li .button span{ width: auto !important;}

.job-information .boxWrap ul li { padding: 3px 0px;}

.job-information .boxWrap ul.details{ padding: 0px !important}



/*share buttons*/

.job-information .buttons, .cars-details .buttons {height:27px;margin-bottom:20px;}

.job-information .buttons ul.share {;padding:0;height:15px;margin:7px 0 15px 85px !important;}

.job-information .buttons ul.share{ width:164px !important;}

.cars-details .buttons ul.share{margin:0;padding:0;height:15px;}

.job-information .buttons ul.share li, .cars-details .buttons ul.share li {float:left;margin-left:4px;}

.job-information .buttons ul.share li a, .cars-details .buttons ul.share li a {width:20px;height:20px;float:left;display:block;background-image:url(../images/sp.png);background-repeat:0 0;}

.job-information .buttons ul.share li a span, .cars-details .buttons ul.share li a span {display:none;}

.job-information .buttons ul.share li a.email, .cars-details .buttons ul.share li a.email {background-position:-355px -418px;}

.job-information .buttons ul.share li a.biznetwork, .cars-details .buttons ul.share li a.biznetwork {background-position:-289px -418px;}

.job-information .buttons ul.share li a.facebook, .cars-details .buttons ul.share li a.facebook {background-position:-311px -418px;}

.job-information .buttons ul.share li a.twitter, .cars-details .buttons ul.share li a.twitter {background-position:-333px -418px;}

.job-information .buttons ul.share li a.print, .cars-details .buttons ul.share li a.print {width:20px;height:20px;float:left;display:block;background-image:url(../images/print.jpg);background-repeat:0 0;}





.pd-read-less br{ margin: 10px 0px;}

.pd-controller a{ float: right; margin: 15px 0px 0px 0px;}

.cars-details {width: 270px;}



.price span{ padding-top: 10px;}

.job-information{ width: 246px !important;}

.job-email ul{ margin: 0px !important; padding: 0px !important}